@{
  Layout="Shared/_Layout.cshtml";
}

<h1> Venues </h1>
<hr />
<h4>Venues:</h4>
@if (Model.Count != 0)
{
  <ul>
    @foreach (var venue in Model)
    {
      <li><a href="/venues/@venue.GetId()">@venue.GetName(), @venue.GetCity()</a> |
      <a href="/venues/edit/@venue.GetId()">Edit</a>
      <a href="/venues/delete/@venue.GetId()">Delete</a>
      </li>
    }
  </ul>
}

<h4><a href = "/venues/add"> Add new venue</a></h4>
